:root {
  --color-green-500: hsl(158, 36%, 37%);
  --color-green-700: hsl(158, 42%, 18%);

  --color-black: hsl(212, 21%, 14%);
  --color-grey: hsl(228, 12%, 48%);
  --color-cream: hsl(30, 38%, 92%);
  --color-white: hsl(0, 0%, 100%);

  --fs-base: clamp(0.875rem, 2.5vw, 1rem);
  --fs-heading: clamp(2rem, 4vw, 2.25rem);

  --fw-regular: 500;
  --fw-bold: 700;

  --ff-montserrat: "Montserrat", sans-serif;
  --ff-fraunces: "Fraunces", sans-serif;

  --card-container: 40rem;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: var(--ff-montserrat);
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  padding: 3rem 1rem;

  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
  color: var(--color-grey);
  line-height: 1.5;
  background-color: var(--color-cream);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--color-white);

  border-radius: 0.75rem;
  overflow: hidden;
  animation: slide-in 0.6s ease;
}

img {
  display: block;
  width: 100%;
  pointer-events: none;
}

.product-details {
  padding: 2rem;
  display: grid;
  gap: 1.25rem;
  animation: fade-in 1s ease;
}

.category {
  letter-spacing: 6px;
  text-transform: uppercase;
}

.name {
  color: var(--color-black);
  font-family: var(--ff-fraunces);
  font-size: var(--fs-heading);
  line-height: 1;
}

.pricing {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.current-price {
  color: var(--color-green-500);
  font-family: var(--ff-fraunces);
  font-size: var(--fs-heading);
}

.cart-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  cursor: pointer;

  border: none;
  border-radius: 0.5rem;
  padding: 1.25em 1em;
  background-color: var(--color-green-500);

  color: var(--color-white);
  font-size: 1rem;
  font-weight: var(--fw-bold);
}

.cart-btn::before {
  content: "";
  background-image: url("../../images/icon-cart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
}

.cart-btn:hover {
  background-color: var(--color-green-700);
  transition: 0.5s;
}

.cart-btn:focus-within {
  outline: 3px solid var(--color-green-500);
  outline-offset: 2px;
}

@media (min-width: 48rem) {
  body {
    padding: 0;
  }

  main {
    max-width: var(--card-container);
    grid-template-columns: 1fr 1fr;
  }

  .cart-btn {
    padding: 1rem 1.25rem;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
